.c1{
    max-width: 100%;
    height: 50px;
    display: flex;
    background-color: rgba(0, 0, 0, 0.5);
    padding-left: 35%;
}
.c1-r1{
    display: flex;
    padding: 15px;
    text-align: center;
}
h2{
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.c2{
    width: 520px;
    height: 800px;
    margin-left: 80px;
    border: 1px rgba(0, 0, 0, 0.8) solid;
    border-radius: 25px;
    float: left;
}
.c2-r1{
    width: 470px;
    height: 150px;
    padding-left:30px ;
    padding-right: 20px;
    border-radius: 25px 25px 0px 0px;
    background-color: rgba(0, 0, 0,0.2);
}
.r1-1{
    width: 115px;
   
    font-size: 20px;
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
}
.c2-r1 p{
    padding-left: 130px;
    text-align: justify;
}
.c2-r1 h3{
    padding-left: 200px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 25px;
}
.c2-r2{
    width: 470px;
    height: 200px;
    padding-left:30px ;
    padding-right: 20px;
    font-size: 80px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: right;
}
.c2-r3{
    width: 520px;
    height: 450px;
    background-color: yellow;
    border-radius: 0px 0px 25px 25px;
}
.r3-1{
    font-size: 420px;
    position: relative;
    top: -40px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding-left: 145px;
    
}   
.c3{
    width: auto;
    height: 850px;    
}
.c3 p{
    font-size: 30px;
    padding-top: 50px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.c3 button{
    width: 300px;
    height: 40px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
    background-color: #e26639;
    border-radius: 10px;
    margin-top: 50px;
    border: none;
}
.c3 button:hover{
    transform: scale(1.5);
}
.c4{
    height: 250px;
    width: 100%;
    background-color:#021A26;
    color: white;
    padding-top: 50px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 30px;
}
.c4 button{
    width: 350px;
    height: 40px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
    background-color: #e26639;
    border-radius: 10px;
    margin-top: 50px;
    border: none;
}
.c4 button:hover{
    transform: scale(1.5);
}
